    <script type="text/javascript">
    $(document).ready(function () {
        // dropdown button
        $('.ui.dropdown').dropdown();

        // Hover the mouse over the head image, pop up the bubble prompt box
        $('.post-content .avatar-link').popup({
            inline: true,
            position: 'bottom right',
            lastResort: 'bottom right'
        });
    })
    </script>
    </body>
</html>