<%- include('header') %>

<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <form class="ui form segment" method="post" enctype="multipart/form-data">
            <div class="field required">
                <label>User name</label>
                <input placeholder="user name" type="text" name="name">
            </div>
            <div class="field required">
                <label>Password</label>
                <input placeholder="password" type="password" name="password">
            </div>
            <div class="field required">
                <label>Confirmation</label>
                <input placeholder="confirmation" type="password" name="repassword">
            </div>
            <div class="field required">
                <label>Gender</label>
                <select class="ui compact selection dropdown" name="gender">
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="none">None</option>
                </select>
            </div>
            <div class="field required">
                <label>Head portrait</label>
                <input type="file" name="avatar">
            </div>
            <div class="field required">
                <label>Self introduction</label>
                <textarea name="bio" rows="5"></textarea>
            </div>
            <input type="submit" class="ui button fluid" value="sign up">
        </form>
    </div>
</div>

<%- include('footer') %>