<%- include('header') %>

<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <form class="ui form segment" method="post">
            <div class="field required">
                <label>User name</label>
                <input placeholder="user name" type="text" name="name">
            </div>
            <div class="field required">
                <label>Password</label>
                <input placeholder="password" type="password" name="password">
            </div>
            <input type="submit" class="ui button fluid" value="signin">
        </form>
    </div>
</div>

<%- include('footer') %>